[Unit]
Description=openSUSE Feed IRC Bot

[Service]
Type=forking
ExecStart=/usr/bin/node /path/to/feed-irc-bot/index.js

[Install]
WantedBy=multi-user.target
